<h2>Rent Out a New Room</h2>
<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input
      name="title"
      type="text"
      class="form-control"
      id="title"
      placeholder="Title"
    />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      name="description"
      id="descritpion"
      cols="30"
      rows="10"
      placeholder="Enter a Description"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input
      name="price"
      type="text"
      class="form-control"
      id="price"
      placeholder="$199.99"
    /></div>
  <div class="form-inline">
    <div class="form-group">
      <label for="city">City</label>
      <input
        name="city"
        type="text"
        class="form-control"
        id="city"
        placeholder="City"
      />
    </div>
    <div class="form-group ml-3">
      <label for="province">Province</label>
      <input
        name="province"
        type="text"
        class="form-control"
        id="province"
        placeholder="Province"
      />
    </div>
    <div class="form-group ml-3">
      <label for="country">Country</label>
      <input
        name="country"
        type="text"
        class="form-control"
        id="country"
        placeholder="Country"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Example file input</label>
      <input
        name="file"
        type="file"
        class="form-control-file"
        id="exampleFormControlFile1"
      />
    </div>
  </div>
  <button type="submit" class="btn btn-danger mb-2">Create Room</button>
</form>