<div class="container">

  <h2 class="text-center">Rent Out a New Room</h2>
  <div class="container">
    <form
      method="post"
      action="/room/add"
      enctype="multipart/form-data"
      class=""
    >
      <div class="form-group col-5">
        <label for="title">Title</label>
        <input
          name="title"
          type="text"
          class="form-control"
          id="title"
          placeholder="Title"
        />
      </div>
      <div class="form-group ml-3">
        <label for="description">Description</label>
        <div></div>
        <textarea
          name="description"
          id="descritpion"
          cols="50"
          rows="10"
          placeholder="Enter a Description"
        ></textarea>
      </div>
      <div class="form-group col-5">
        <label for="price">Price</label>
        <input
          name="price"
          type="text"
          class="form-control"
          id="price"
          placeholder="$199.99"
        /></div>

      <div class="form-inline">
        <div class="form-group col-2 mr-5">
          <label for="city">City</label>
          <input
            name="city"
            type="text"
            class="form-control"
            id="city"
            placeholder="City"
          />
        </div>
        <div class="form-group col-2">
          <label for="province">Province</label>
          <input
            name="province"
            type="text"
            class="form-control"
            id="province"
            placeholder="Province"
          />
        </div>
      </div>
      <div class="form-group col-3">
        <label for="country">Country</label>
        <input
          name="country"
          type="text"
          class="form-control"
          id="country"
          placeholder="Country"
        />
      </div>

      <div class="form-group">
        <label for="exampleFormControlFile1">Upload Image</label>
        <input
          name="file"
          type="file"
          class="form-control-file"
          id="exampleFormControlFile1"
        />
      </div>
      <button type="submit" class="btn btn-danger mb-2">Create Room</button>
    </form>
  </div>
</div>