<div class="container-fluid hero">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start text-white">
        <h1 class="display-4 fw-bold lh-1 mb-3">Explore the World! </h1>
        <p class="col-lg-10 fs-4" style="font-size: 18px !important;">With rooms
          available in over 150 destinations worldwide, book a room anywhere at
          any time at a guaranteed low rate.

        </p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">

        <form class="mt-3 p-4 p-md-5 border rounded-3 bg-light">
          <h3>Book unique places to stay and things to do!</h3>
          <small>Where</small>

          <div class="form-floating mb-3">
            <select name="city" id="cityId" class="form-control">
              <option value="" selected="selected">Choose A City</option>
              <option value="">Toronto</option>
              <option value="">Vancouver</option>
              <option value="">Montreal</option>
              <option value="">Ottawa</option>
            </select>

          </div>

          <div class="form-row">
            <div class="col-6 mb-3">
              <small>CHECK-IN</small>
              <input type="date" class="form-control" id="dForm" />

            </div>
            <div class="col-6 mb-3">
              <small>CHECK-OUT</small>
              <input type="date" class="form-control" id="dateForm" />

            </div>
          </div>
          <div class="form-floating mb-3">
            <small>Guests</small>
            <select name="Guests" id="gst" class="form-control">
              <option value="">1 Guest</option>
              <option value="">2 Guest</option>
              <option value="">3 Guest</option>
              <option value="">5 Guest</option>
              <option value="">6 Guest</option>
              <option value="">7 Guest</option>
              <option value="">8 Guest</option>
              <option value="">9 Guest</option>
              <option value="">10 Guest</option>
            </select>
          </div>
          <button class="w-100 btn btn-lg btn-danger" type="submit">Book Your
            Stay</button>
          <hr class="my-4" />

        </form>
      </div>
    </div>
  </div>
</div>
<div class="container px-4 py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom">Visit Nearby</h2>

  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
  >
    <div class="col d-flex align-items-start">
      <img
        src="/img/Huntsville.jpeg"
        alt=""
        height="50px"
        width="50px"
        class="mr-2 rounded-circle"
      />
      <div>
        <h4 class="fw-bold mb-0">Huntsville</h4>
        <p>3.5 hour drive</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img
        src="/img/Peterbrough.jpeg"
        alt=""
        height="50px"
        width="50px"
        class="mr-2 rounded-circle"
      />
      <div>
        <h4 class="fw-bold mb-0">Peterborough</h4>
        <p>2 hour drive</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img
        src="/img/Collingwood.jpeg"
        alt=""
        height="50px"
        width="50px"
        class="mr-2 rounded-circle"
      />
      <div>
        <h4 class="fw-bold mb-0">Collingwood</h4>
        <p>2.5 hour drive</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img
        src="/img/Midland.jpeg"
        alt=""
        height="50px"
        width="50px"
        class="mr-2 rounded-circle"
      />
      <div>
        <h4 class="fw-bold mb-0">Midland</h4>
        <p>2.5 hour drive</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img
        src="/img/Gravenhurst.jpeg"
        alt=""
        height="50px"
        width="50px"
        class="mr-2 rounded-circle"
      />
      <div>
        <h4 class="fw-bold mb-0">Gravenhurst</h4>
        <p>3 hour drive</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img
        src="/img/Bancroft.jpeg"
        alt=""
        height="50px"
        width="50px"
        class="mr-2 rounded-circle"
      />
      <div>
        <h4 class="fw-bold mb-0">Bancroft</h4>
        <p>3.5 hour drive</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img
        src="/img/Orillia.jpeg"
        alt=""
        height="50px"
        width="50px"
        class="mr-2 rounded-circle"
      />
      <div>
        <h4 class="fw-bold mb-0">Orillia</h4>
        <p>2 hour drive</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img
        src="/img/Bracebridge.jpeg"
        alt=""
        height="50px"
        width="50px"
        class="mr-2 rounded-circle"
      />
      <div>
        <h4 class="fw-bold mb-0">Bracebridge</h4>
        <p>3 hour drive</p>
      </div>
    </div>
  </div>
</div>
<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">International Experiences</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        style="background-image: url('/img/Dubai.jpeg'); background-size:cover; opacity: 0.9;"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Roam in Dubai</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="/img/UAE.png"
                alt="Bootstrap"
                width="32"
                height="32"
                class="rounded-circle border border-white"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use
                  xlink:href="#geo-fill"
                ></use></svg>
              <small>United Arab Emirates</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use
                  xlink:href="#calendar3"
                ></use></svg>
              <small>3d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div
        class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        style="background-image: url('img/Amazon.jpeg'); background-size: cover; opacity: 0.8;"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Stroll through the
            Amazon</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="img/Brazil.png"
                alt="Bootstrap"
                width="32"
                height="32"
                class="rounded-circle border border-white"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use
                  xlink:href="#geo-fill"
                ></use></svg>
              <small>Brazil</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use
                  xlink:href="#calendar3"
                ></use></svg>
              <small>4d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div
        class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        style="background-image: url('img/BahamasVacation.jpeg'); background-size: cover;"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Venture the waters
            of the Carribean</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="img/Bahamas .jpeg"
                alt="Bootstrap"
                width="32"
                height="32"
                class="rounded-circle border border-white"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use
                  xlink:href="#geo-fill"
                ></use></svg>
              <small>Bahamas</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use
                  xlink:href="#calendar3"
                ></use></svg>
              <small>5d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        style="background-image: url('img/turkishCuisine.jpeg'); background-size:cover; opacity:0.9;"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Feast in Turkey</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="img/tukey.png"
                alt="Bootstrap"
                width="32"
                height="32"
                class="rounded-circle border border-white"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use
                  xlink:href="#geo-fill"
                ></use></svg>
              <small>Turkey</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use
                  xlink:href="#calendar3"
                ></use></svg>
              <small>3d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div
        class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        style="background-image: url('img/Italy.jpeg'); background-size:cover;"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Wine & Dine in Italy</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="img/italyFlag.png"
                alt="Bootstrap"
                width="32"
                height="32"
                class="rounded-circle border border-white"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use
                  xlink:href="#geo-fill"
                ></use></svg>
              <small>Italy</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use
                  xlink:href="#calendar3"
                ></use></svg>
              <small>4d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div
        class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        style="background-image: url('img/chileMountains.jpeg');"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Mountains of Chile</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="img/chileFlag.jpeg"
                alt="Bootstrap"
                width="32"
                height="32"
                class="rounded-circle border border-white"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use
                  xlink:href="#geo-fill"
                ></use></svg>
              <small>Chile</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use
                  xlink:href="#calendar3"
                ></use></svg>
              <small>5d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container col-xxl-8 px-4 py-5 host">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">

    </div>
    <div class="col-lg-6 text-white pl-5">
      <h1 class="display-5 fw-bold lh-1 mb-3">Become a Host</h1>
      <p class="lead">Own a property in a great location? Earn Passive income
        daily by renting out your space</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-light btn-lg px-4 me-md-2">Learn
          More</button>
      </div>
    </div>
  </div>
</div>
<div class="album py-5">
  <div class="container">
    <h2>Rooms Currently Available</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {{#each data}}
        <div class="col mt-3">
          <div class="card shadow-sm">
            <img src="{{this.image}}" height="225px" alt="" />
            <div class="card-header text-center"><b>{{this.title}}</b></div>
            <div class="card-body">
              <p class="card-text">{{this.location}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-danger"
                  >Book Now</button>

                </div>
                <small class="text-success">{{this.price}}</small>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>